.gallery-card-wrapper {
  width: 400px;
  height: 300px;
  margin: 10px;
  transition: transform 300ms ease 100ms;
}

.gallery-card-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease 100ms;
}

.gallery-card-wrapper img:hover {
  transform: scale(1.08);
  transition: transform 300ms ease 100ms;
  cursor: pointer;
}

.inner-gallery-wrapper:hover .gallery-card-wrapper {
  transform: translateX(-12%);
}

.gallery-card-wrapper:hover ~ .gallery-card-wrapper {
  transform: translateX(12%);
}

.gallery-card-wrapper img:hover {
  transform: scale(1.08);
  transition: transform 300ms ease 100ms;
  cursor: pointer;
}
